:root {
    --primary-color: #497343;
    --secondary-color: #ecebdc;
    --background-color: #c3c0af;
    --links-color: #756a14;
    --links-hover-color: #9b8b14;
    --figcaption-color: #504e49;
    --text-color: #32302b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: Verdana, sans-serif;
    color: var(--text-color);
}

main {
    width: 90%;
    margin: 40px auto;
}

header, footer {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

nav {
    margin: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    font-weight: bold;
}

hr {
    border: 1px solid var(--primary-color);
    margin: 20px 0;
}

h1 {
    color: var(--primary-color);
    font-size: 3.5em;
}

h2 {
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
}

h3, h4, h5, h6 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: 'Segoe UI', sans-serif;
}

.center-text {
    text-align: center;
}

footer p {
    margin-bottom: 0;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--links-color)
}

a:hover {
    text-decoration: underline;
    color: var(--links-hover-color);
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

figcaption {
    text-align: center;
    font-style: italic;
    color: var(--figcaption-color);
}

section {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 5%;
}

.flex-section {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

section a {
    display: inline-block;
}

section img {
    border-radius: 10px;
    width: 30vw;
    height: auto;
    box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1em;
    margin-bottom: 15px;
    min-width: 100%;
}

form button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: var(--links-hover-color);
}

input:focus {
    outline: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

textarea:focus {
    outline: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

#lightbox-popup {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#popup-image {
    width: auto;
    height: auto;
    max-width: 60vw;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

#popup-caption {
    color: white;
    margin-top: 15px;
    font-size: 1.2em;
    text-align: left;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallery-image {
    width: 200px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
}

#close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#article-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#article-list div {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    section img {
        width: 60vw;
    }
}